
# Build directories
build/
dist/
*.egg-info/
*.egg

# Python cache
__pycache__/
*.py[cod]
*.class
*.so

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Captures
hs/
karma_captures/
captures/

# Temporary
*.log
*.tmp


# Large wordlist files excluded from git
wifitex/wordlists/rockyou.txt
wifitex/wordlists/ignis-10M.txt
