[Desktop Entry]
Version=1.0
Type=Application
Name=Wifitex GUI
Name[en_US]=Wifitex GUI
Comment=Wireless Network Auditor - Graphical Interface
GenericName=WiFi Security Tool
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY DBUS_SESSION_BUS_ADDRESS=$DBUS_SESSION_BUS_ADDRESS python3 -m wifitex.gui
TryExec=python3
Icon=wifitex-256x256
Terminal=false
StartupNotify=true
NoDisplay=false
Categories=Network;Security;
Keywords=wireless;wifi;security;audit;network;penetration;testing;
StartupWMClass=Wifitex GUI
Actions=Normal;

[Desktop Action Normal]
Name=Run as Administrator
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY DBUS_SESSION_BUS_ADDRESS=$DBUS_SESSION_BUS_ADDRESS python3 -m wifitex.gui
Icon=wifitex-256x256